flows/flows-fptdrive.json
[
	{
		"id": "afca5e85.e098d",
		"type": "tab",
		"label": "FPTDrive-Simulator"
	}, {
		"id": "1c7390ed.7e5087",
		"type": "tab",
		"label": "FPT Drive"
	}, {
		"id": "bbc541b8.3038e",
		"type": "tab",
		"label": "FPTDriveManager"
	}, {
		"id": "d3f9a6d2.2e5df8",
		"type": "tab",
		"label": "API-Simulation"
	}, {
		"id": "54942583.f0fb04",
		"type": "tab",
		"label": "DeviceRegister"
	}, {
		"id": "5c70f8db.82bad8",
		"type": "subflow",
		"name": "GPSAnalysis",
		"info": "-Dung do qua lau\n-Phanh gap",
		"in": [
			{
				"x": 32.22216796875,
				"y": 81.77781677246094,
				"wires": [
					{
						"id": "6ed098ad.bcb498"
					}, {
						"id": "e8cb94c4.29743"
					}, {
						"id": "3726522b.723d36"
					}
				]
			}
		],
		"out": [
			{
				"x": 735.6666259765625,
				"y": 83.33345031738281,
				"wires": [
					{
						"id": "316a3316.306e04",
						"port": 0
					}, {
						"id": "4d4032d1.4daf44",
						"port": 0
					}, {
						"id": "9213d2b8.fb7c2",
						"port": 0
					}
				]
			}
		]
	}, {
		"id": "e2a8e2c0.9fe338",
		"type": "subflow",
		"name": "RouteTracking",
		"info": "",
		"in": [
			{
				"x": 30,
				"y": 46.33332824707031,
				"wires": [
					{
						"id": "d570673a.012518"
					}
				]
			}
		],
		"out": [
			{
				"x": 606.6668090820312,
				"y": 26.111099243164062,
				"wires": [
					{
						"id": "8f629662.831fb8",
						"port": 0
					}
				]
			}
		]
	}, {
		"id": "58e7860b.dcb2a8",
		"type": "subflow",
		"name": "DeviceRegister",
		"info": "",
		"in": [],
		"out": []
	}, {
		"id": "c4629c93.641538",
		"type": "subflow",
		"name": "AWSCertificateManager",
		"info": "",
		"in": [],
		"out": []
	}, {
		"id": "1524d575.3e58c3",
		"type": "websocket-client",
		"z": "1c7390ed.7e5087",
		"path": "ws://localhost:1880/ws/simgps",
		"wholemsg": "false"
	}, {
		"id": "bb5841a4.f0f5a",
		"type": "aws-iot-device",
		"z": "1c7390ed.7e5087",
		"name": "Bus001",
		"mode": "broker",
		"clientId": "Device001",
		"certId": "9e09675250",
		"region": "us-east-1"
	}, {
		"id": "2928cca1.467dbc",
		"type": "aws-config",
		"z": "afca5e85.e098d"
	}, {
		"id": "4bc32b4b.6a73c4",
		"type": "websocket-listener",
		"z": "afca5e85.e098d",
		"path": "/ws/simgps",
		"wholemsg": "false"
	}, {
		"id": "2db2a010.7b6588",
		"type": "websocket-client",
		"z": "1c7390ed.7e5087",
		"path": "ws://localhost:8001/",
		"wholemsg": "false"
	}, {
		"id": "2cb456a0.f360aa",
		"type": "aws-config",
		"z": "1c7390ed.7e5087"
	}, {
		"id": "54cc9b2a.17d8dc",
		"type": "websocket-listener",
		"z": "54942583.f0fb04",
		"path": "/ws/gateway",
		"wholemsg": "false"
	}, {
		"id": "87245211.e552",
		"type": "aws-mqtt in",
		"z": "1c7390ed.7e5087",
		"device": "bb5841a4.f0f5a",
		"topic": "/fptdrive/#",
		"x": 62.194427490234375,
		"y": 317.0278015136719,
		"wires": [["c68b139b.5a2af"]
		]
	}, {
		"id": "f3d8b52.07edac8",
		"type": "aws-mqtt out",
		"z": "1c7390ed.7e5087",
		"device": "bb5841a4.f0f5a",
		"qos": "0",
		"x": 767.6668090820312,
		"y": 257.6666259765625,
		"wires": []
	}, {
		"id": "600c3efe.2e4538",
		"type": "function",
		"z": "1c7390ed.7e5087",
		"name": "CarDistanceMessage",
		"func": "var distance = -1;\n//var json = JSON.parse(msg.payload);\nvar distance = msg.payload.distance;\n//node.log(JSON.stringify(msg.payload));\nvar payload = {\n    bus_id: context.global.deviceId,\n    device_id: context.global.deviceId,\n    timestamp:new Date(),\n    distance_to_next:distance\n};\n\nvar disMsg = {\n    topic: \"/fptdrive/cardistance/\" + context.global.RouteId + \"/\" + context.global.DeviceId\n};\ndisMsg.payload = payload;\n\nif (typeof context.global.cardistance_arr === 'undefined') {\n    context.global.cardistance_arr = [];\n}\ncontext.global.cardistance_arr.push(payload);\n\nmsg = disMsg;\nreturn msg;",
		"outputs": "1",
		"noerr": 0,
		"x": 359.4444580078125,
		"y": 181.0000457763672,
		"wires": [["f3d8b52.07edac8"]
		]
	}, {
		"id": "a9738f14.eb5968",
		"type": "debug",
		"z": "1c7390ed.7e5087",
		"name": "",
		"active": false,
		"console": "false",
		"complete": "true",
		"x": 665.1944274902344,
		"y": 319.0278015136719,
		"wires": []
	}, {
		"id": "c68b139b.5a2af",
		"type": "function",
		"z": "1c7390ed.7e5087",
		"name": "ProcessingMessage",
		"func": "var buffer = msg.payload;\njson = buffer.toString();//buffer.toString('utf8', 0, buffer.length - 1);\n\nif (json.lastIndexOf('}') != json.length - 1) {\n    json = json.substring(0, json.lastIndexOf('}') + 1);\n}\n\nmsg.payload = json;\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 285.1944274902344,
		"y": 317.0278091430664,
		"wires": [["a9738f14.eb5968"]
		]
	}, {
		"id": "a283a223.32ed88",
		"type": "catch",
		"z": "1c7390ed.7e5087",
		"name": "",
		"scope": null,
		"x": 64.44442749023438,
		"y": 28.777801513671875,
		"wires": [[]
		]
	}, {
		"id": "ca6426af.e9c8c",
		"type": "function",
		"z": "1c7390ed.7e5087",
		"name": "EyeBlinkMessage",
		"func": "var payload = {\n    bus_id: context.global.deviceId,\n    device_id: context.global.deviceId,\n    timestamp: new Date(),\n    eye_blink: 1,\n    yawn:0,\n    drowsiness:0\n};\n\nvar blinkMsg = {\n  topic: \"/fptdrive/face/\" + context.global.RouteId + \"/\" + context.global.DeviceId  \n};\n\nblinkMsg.payload = payload;\n\nif (typeof context.global.eyesblinked_arr === 'undefined') {\n    context.global.eyesblinked_arr = [];\n}\ncontext.global.eyesblinked_arr.push(payload);\n\nreturn blinkMsg;",
		"outputs": 1,
		"noerr": 0,
		"x": 348.4444580078125,
		"y": 263.0000534057617,
		"wires": [["f3d8b52.07edac8"]
		]
	}, {
		"id": "89e7099d.28b6",
		"type": "websocket in",
		"z": "1c7390ed.7e5087",
		"name": "GPS",
		"server": "",
		"client": "2db2a010.7b6588",
		"x": 119.44442749023438,
		"y": 135.77780151367188,
		"wires": [["68372ac6.3e2774"]
		]
	}, {
		"id": "68372ac6.3e2774",
		"type": "function",
		"z": "1c7390ed.7e5087",
		"name": "GPSMessage",
		"func": "var json = JSON.parse(msg.payload);\n\nvar lat = json.lat || -1;\nvar lon = json.lon || -1;\nvar speed = json.speed || -1;\n\nmsg.topic = \"/fptdrive/gps/\" + context.global.RouteId + \"/\" + context.global.DeviceId;\nvar payload = {\n        bus_id: context.global.deviceId,\n        device_id: context.global.deviceId,\n        timestamp:new Date(),\n        latitude: lat,\n        longitude: lon,\n        speed: speed\n    };\n    \n\nmsg.payload = payload;\nvar now = new Date().getTime();\n\nif (undefined === context.global.gps_last_time) {\n    context.global.gps_last_time = now - 100000;\n}\n\nif (typeof context.global.gps_polyline === 'undefined') {\n    context.global.gps_polyline = [];\n}\ncontext.global.gps_polyline.push(payload);\n\nif ((now - context.global.gps_last_time > 1000) && lat !== -1 && lon !== -1) {\n    context.global.gps_last_time = now;\n    return [msg, msg];\n} else {\n    //show debug only\n    return [null, msg];\n}\n",
		"outputs": "2",
		"noerr": 0,
		"x": 332.9999084472656,
		"y": 108.00000762939453,
		"wires": [["bf7fd70d.7aa978", "f3d8b52.07edac8", "df7b94a3.a5ae38"],["7cb24514.ccabb4"]
		]
	}, {
		"id": "bf7fd70d.7aa978",
		"type": "debug",
		"z": "1c7390ed.7e5087",
		"name": "",
		"active": false,
		"console": "false",
		"complete": "true",
		"x": 774.5556640625,
		"y": 168.77781677246094,
		"wires": []
	}, {
		"id": "f4e87faa.95f17",
		"type": "http in",
		"z": "1c7390ed.7e5087",
		"name": "/api/eyesblinked/",
		"url": "/api/eyesblinked/",
		"method": "get",
		"swaggerDoc": "",
		"x": 92.94442749023438,
		"y": 240.7778091430664,
		"wires": [["ca6426af.e9c8c", "6e6824d3.be2634"]
		]
	}, {
		"id": "c1a07d9a.eb671",
		"type": "http in",
		"z": "1c7390ed.7e5087",
		"name": "/api/cardistance/",
		"url": "/api/cardistance/",
		"method": "get",
		"swaggerDoc": "",
		"x": 91.16667175292969,
		"y": 194.33335876464844,
		"wires": [["600c3efe.2e4538", "6e6824d3.be2634"]
		]
	}, {
		"id": "6e6824d3.be2634",
		"type": "http response",
		"z": "1c7390ed.7e5087",
		"name": "httpoutput",
		"x": 325.9444580078125,
		"y": 222.5000457763672,
		"wires": []
	}, {
		"id": "4407678b.82123",
		"type": "function",
		"z": "afca5e85.e098d",
		"name": "CarDistanceMessage",
		"func": "var distance = Math.random()*60;\n\nmsg.distance = distance;\nreturn msg;",
		"outputs": "1",
		"noerr": 0,
		"x": 298.7500305175781,
		"y": 139.5,
		"wires": [["48e73c78.7c2674"]
		]
	}, {
		"id": "59ab1c5e.295afc",
		"type": "catch",
		"z": "afca5e85.e098d",
		"name": "",
		"scope": null,
		"x": 78.25006103515625,
		"y": 64.5,
		"wires": [[]
		]
	}, {
		"id": "188416a4.e6d421",
		"type": "function",
		"z": "afca5e85.e098d",
		"name": "EyeBlinkMessage",
		"func": "\nmsg.blinked = 1;\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 288.0000305175781,
		"y": 175.25,
		"wires": [["27cdb0e8.4fea78"]
		]
	}, {
		"id": "91acc7b7.e1f1b",
		"type": "function",
		"z": "afca5e85.e098d",
		"name": "GPSMessage",
		"func": "var polyline = [ [ 21.02849, 105.80414 ],\n  [ 21.02819, 105.8048 ],\n  [ 21.02817, 105.80498 ],\n  [ 21.02818, 105.80506 ],\n  [ 21.02833, 105.80526 ],\n  [ 21.02856, 105.8054 ],\n  [ 21.02874, 105.80557 ],\n  [ 21.02882, 105.80569 ],\n  [ 21.02887, 105.80582 ],\n  [ 21.02911, 105.80647 ],\n  [ 21.02919, 105.80675 ],\n  [ 21.02936, 105.80807 ],\n  [ 21.02956, 105.80935 ],\n  [ 21.02974, 105.81033 ],\n  [ 21.02999, 105.8116 ],\n  [ 21.03013, 105.81236 ],\n  [ 21.03022, 105.813 ],\n  [ 21.03133, 105.81335 ],\n  [ 21.03176, 105.8135 ],\n  [ 21.03283, 105.81383 ],\n  [ 21.03308, 105.81386 ],\n  [ 21.0332, 105.81385 ],\n  [ 21.03387, 105.8141 ],\n  [ 21.03476, 105.81443 ],\n  [ 21.03525, 105.81456 ],\n  [ 21.03567, 105.81472 ],\n  [ 21.03675, 105.81501 ],\n  [ 21.0371, 105.81513 ],\n  [ 21.0377, 105.81528 ],\n  [ 21.03927, 105.81578 ],\n  [ 21.04107, 105.81633 ],\n  [ 21.04194, 105.8166 ],\n  [ 21.04203, 105.81673 ],\n  [ 21.04212, 105.81697 ],\n  [ 21.0421, 105.81842 ],\n  [ 21.04215, 105.8185 ],\n  [ 21.04217, 105.81851 ],\n  [ 21.04217, 105.81871 ],\n  [ 21.04327, 105.81859 ],\n  [ 21.04351, 105.81855 ],\n  [ 21.04356, 105.81876 ],\n  [ 21.04363, 105.81929 ],\n  [ 21.04363, 105.81956 ],\n  [ 21.04358, 105.82029 ],\n  [ 21.04337, 105.82163 ],\n  [ 21.0433, 105.82196 ] ];\n\nif (typeof context.global.gps_polyline_index === 'undefined' || context.global.gps_polyline_index === NaN) {\n    context.global.gps_polyline_index = -1;\n}\n\ncontext.global.gps_polyline_index += 1;\ncontext.global.gps_polyline_index = context.global.gps_polyline_index % polyline.length;\n\nvar lat = polyline[context.global.gps_polyline_index][0];\nvar lon = polyline[context.global.gps_polyline_index][1];\n\nmsg.topic = \"/fptdrive/gps/\" + context.global.RouteId + \"/\" + context.global.DeviceId;\nvar payload = {\n        bus_id: context.global.DeviceId,\n        device_id: context.global.DeviceId,\n        timestamp:new Date(),\n        lat: lat,\n        lon: lon,\n        atl: -1,\n        speed: -1\n    };\n    \nif (typeof context.global.gps_polyline === 'undefined') {\n    context.global.gps_polyline = [];\n}\n\ncontext.global.gps_polyline.push(payload);\n\nmsg.payload = payload;\n\nreturn msg;\n\n",
		"outputs": "1",
		"noerr": 0,
		"x": 274.5000305175781,
		"y": 103.25,
		"wires": [["6066b3e7.f0eafc", "6f16e4f.0be931c"]
		]
	}, {
		"id": "6f16e4f.0be931c",
		"type": "debug",
		"z": "afca5e85.e098d",
		"name": "",
		"active": false,
		"console": "false",
		"complete": "true",
		"x": 747.3056640625,
		"y": 99.12293243408203,
		"wires": []
	}, {
		"id": "92d168ab.34c8c8",
		"type": "inject",
		"z": "afca5e85.e098d",
		"name": "CarDistance",
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 115.80557250976562,
		"y": 139.47219848632812,
		"wires": [["4407678b.82123"]
		]
	}, {
		"id": "d347b2bb.82b03",
		"type": "inject",
		"z": "afca5e85.e098d",
		"name": "GPS",
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 103.55557250976562,
		"y": 103.22219848632812,
		"wires": [["91acc7b7.e1f1b"]
		]
	}, {
		"id": "b5c734a4.4569e",
		"type": "inject",
		"z": "afca5e85.e098d",
		"name": "EyesBlink",
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 108.05557250976562,
		"y": 175.22219848632812,
		"wires": [["188416a4.e6d421"]
		]
	}, {
		"id": "dcc6eee3.f5f028",
		"type": "amazon s3 out",
		"z": "1c7390ed.7e5087",
		"aws": "2cb456a0.f360aa",
		"bucket": "",
		"filename": "",
		"localFilename": "",
		"region": "us-east-1",
		"name": "",
		"x": 620,
		"y": 417.00000762939453,
		"wires": []
	}, {
		"id": "f11945f.5243138",
		"type": "inject",
		"z": "1c7390ed.7e5087",
		"name": "",
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 91.75,
		"y": 419,
		"wires": [["c1734487.4f5f2", "2abe0e6.cbfc7f2", "fdb77434.4d4df"]
		]
	}, {
		"id": "c1734487.4f5f2",
		"type": "function",
		"z": "1c7390ed.7e5087",
		"name": "GPS_PUT_S3",
		"func": "var date = new Date();\nmsg.filename = \"bus_gps_\"+ (date.getTime())+\".txt\";\nmsg.bucket = \"fptdrive/bustracking/\" + date.getFullYear() + \"/\" + (date.getMonth() + 1) + \"/\" + date.getDate() + \"/\" \n+ context.global.RouteId + \"/\" + context.global.DeviceId;\n\nvar payload = {\n};\n\nif (typeof context.global.gps_polyline !== 'undefined') {\n    var len = context.global.gps_polyline.length;\n    var data = context.global.gps_polyline.slice(0, len - 1);\n    context.global.gps_polyline.splice(0, len -1);\n    \n    payload = data;\n}\n\nmsg.payload = payload;\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 319,
		"y": 382.00000762939453,
		"wires": [["dcc6eee3.f5f028"]
		]
	}, {
		"id": "2abe0e6.cbfc7f2",
		"type": "function",
		"z": "1c7390ed.7e5087",
		"name": "CAR_DISTANCE_PUT_S3",
		"func": "var date = new Date();\nmsg.filename = \"bus_car_distance_\"+ (date.getTime())+\".txt\";\nmsg.bucket = \"fptdrive/bustracking/\" + date.getFullYear() + \"/\" + (date.getMonth() + 1) + \"/\" + date.getDate() + \"/\" \n+ context.global.RouteId + \"/\" + context.global.DeviceId;\n\nvar payload = {\n};\n\nif (typeof context.global.cardistance_arr !== 'undefined') {\n    var len = context.global.cardistance_arr.length;\n    var data = context.global.cardistance_arr.slice(0, len - 1);\n    context.global.cardistance_arr.splice(0, len -1);\n    \n    payload = data;\n}\n\nmsg.payload = payload;\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 356,
		"y": 419.00000762939453,
		"wires": [["dcc6eee3.f5f028"]
		]
	}, {
		"id": "fdb77434.4d4df",
		"type": "function",
		"z": "1c7390ed.7e5087",
		"name": "EYES_BLINKED_PUT_S3",
		"func": "var date = new Date();\nmsg.filename = \"bus_eyes_blinked_\"+ (date.getTime())+\".txt\";\nmsg.bucket = \"fptdrive/bustracking/\" + date.getFullYear() + \"/\" + (date.getMonth() + 1) + \"/\" + date.getDate() + \"/\" \n+ context.global.RouteId + \"/\" + context.global.DeviceId;\n\nvar payload = {\n};\n\nif (typeof context.global.eyesblinked_arr !== 'undefined') {\n    var len = context.global.eyesblinked_arr.length;\n    var data = context.global.eyesblinked_arr.slice(0, len - 1);\n    context.global.eyesblinked_arr.splice(0, len -1);\n    \n    payload = data;\n}\n\nmsg.payload = payload;\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 355,
		"y": 455.00000762939453,
		"wires": [["dcc6eee3.f5f028"]
		]
	}, {
		"id": "6066b3e7.f0eafc",
		"type": "websocket out",
		"z": "afca5e85.e098d",
		"name": "ws_gps",
		"server": "4bc32b4b.6a73c4",
		"client": "",
		"x": 520,
		"y": 55.39680480957031,
		"wires": []
	}, {
		"id": "27cdb0e8.4fea78",
		"type": "http request",
		"z": "afca5e85.e098d",
		"name": "/api/eyesblinked/",
		"method": "GET",
		"ret": "txt",
		"url": "http://localhost:1880/api/eyesblinked/",
		"x": 548.5714721679688,
		"y": 174.28570556640625,
		"wires": [["6f16e4f.0be931c"]
		]
	}, {
		"id": "48e73c78.7c2674",
		"type": "http request",
		"z": "afca5e85.e098d",
		"name": "/api/cardistance/",
		"method": "GET",
		"ret": "txt",
		"url": "http://localhost:1880/api/cardistance/",
		"x": 547.1428833007812,
		"y": 140.00001525878906,
		"wires": [["6f16e4f.0be931c"]
		]
	}, {
		"id": "53041536.8ede7c",
		"type": "websocket in",
		"z": "1c7390ed.7e5087",
		"name": "SimulatorWS",
		"server": "",
		"client": "1524d575.3e58c3",
		"x": 103.33340454101562,
		"y": 86.6666030883789,
		"wires": [["68372ac6.3e2774"]
		]
	}, {
		"id": "6ed098ad.bcb498",
		"type": "function",
		"z": "5c70f8db.82bad8",
		"name": "CheckStopLongTime",
		"func": "var fptdrive = context.global.fptdrive;\n\nvar payload = msg.payload;\n//console.log(JSON.stringify(payload));\nif (payload.speed > 0) {\n    context.global.busCurrentLocation = payload;\n    return null;\n} else {\n    if (typeof context.global.busCurrentLocation === 'undefined') {\n        context.global.busCurrentLocation = {\n            latitude: -1,\n            longitude: -1,\n            timestamp: new Date()\n        };\n    }\n    //1. Last available location with speed is zero\n    //2. Current location available\n    //3. Current speed is zero\n    //4. if current location is unavailable, bus current location is kept.\n    \n    //console.log(JSON.stringify(context.global.busCurrentLocation));\n    \n    if (context.global.busCurrentLocation.latitude > 0 && payload.latitude > 0) {\n        var dis = fptdrive.geo_distance(payload.latitude, payload.longitude, \n                        context.global.busCurrentLocation.latitude, context.global.busCurrentLocation.longitude, \"K\");\n        if (dis < 0.001) {//1 meter\n            var diff = Math.abs(new Date() - new Date(context.global.busCurrentLocation.timestamp));\n            if (diff/1000 > 2) {\n                msg.topic = \"/fptdrive/tracking/stop/alert/\" + context.global.RouteId + \"/\" + context.global.DeviceId;\n                msg.type = \"stop\";\n                msg.payload = {diff:diff};\n    \n                return msg;\n            }\n        }\n    } else {\n        //dont have location - waive\n    }\n    \n    \n}\n\nreturn null;",
		"outputs": 1,
		"noerr": 0,
		"x": 201.22219848632812,
		"y": 44.33338928222656,
		"wires": [["316a3316.306e04"]
		]
	}, {
		"id": "7cb24514.ccabb4",
		"type": "subflow:5c70f8db.82bad8",
		"z": "1c7390ed.7e5087",
		"x": 562.5556640625,
		"y": 69.9999771118164,
		"wires": [["bf7fd70d.7aa978", "f3d8b52.07edac8"]
		]
	}, {
		"id": "d570673a.012518",
		"type": "function",
		"z": "e2a8e2c0.9fe338",
		"name": "DistanceToRoute",
		"func": "function pDistance(x, y, x1, y1, x2, y2) {\n\n  var A = x - x1;\n  var B = y - y1;\n  var C = x2 - x1;\n  var D = y2 - y1;\n\n  var dot = A * C + B * D;\n  var len_sq = C * C + D * D;\n  var param = -1;\n  if (len_sq !== 0) //in case of 0 length line\n      param = dot / len_sq;\n\n  var xx, yy;\n\n  if (param < 0) {\n    xx = x1;\n    yy = y1;\n  }\n  else if (param > 1) {\n    xx = x2;\n    yy = y2;\n  }\n  else {\n    xx = x1 + param * C;\n    yy = y1 + param * D;\n  }\n\n  var dx = x - xx;\n  var dy = y - yy;\n  return [xx, yy, Math.sqrt(dx * dx + dy * dy)];\n}\n\nfunction distance(lat1, lon1, lat2, lon2, unit) {\n\tvar radlat1 = Math.PI * lat1/180;\n\tvar radlat2 = Math.PI * lat2/180;\n\tvar theta = lon1-lon2;\n\tvar radtheta = Math.PI * theta/180;\n\tvar dist = Math.sin(radlat1) * Math.sin(radlat2) + Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);\n\tdist = Math.acos(dist);\n\tdist = dist * 180/Math.PI;\n\tdist = dist * 60 * 1.1515;\n\tif (unit==\"K\") { dist = dist * 1.609344; }\n\tif (unit==\"N\") { dist = dist * 0.8684; }\n\treturn dist;\n}\n\nvar payload = msg.payload;\nif (typeof payload === 'string'){\n    payload = JSON.parse(msg.payload);\n}\nvar minDistance = 0xffffff;\nvar lat = payload.latitude;\nvar lon = payload.longitude;\n\nif (lat !== -1) {\n    //tim khoang cach ngan nhat den chieu di/ve (bullshit)\n    var polyline = context.global.routes[0];\n    //node.log(polyline);\n    for (var i = 1, len = polyline.length; i < len; i++) {\n    \tvar gdis = pDistance(lat,lon, polyline[i-1][0],polyline[i-1][1],polyline[i][0],polyline[i][1]);\n    \tvar dis = distance(lat,lon,gdis[0], gdis[1],\"K\")*1000;\n        if (minDistance > dis) {\n            minDistance = dis;\n        }\n    }\n    \n    polyline = context.global.routes[1];\n    //node.log(polyline);\n    for (var i = 1, len = polyline.length; i < len; i++) {\n    \tvar gdis = pDistance(lat,lon, polyline[i-1][0],polyline[i-1][1],polyline[i][0],polyline[i][1]);\n    \tvar dis = distance(lat,lon,gdis[0], gdis[1],\"K\")*1000;\n        if (minDistance > dis) {\n            minDistance = dis;\n        }\n    }\n}\n\nif (minDistance !== 0xffffff) {\n    msg.payload = {distance:minDistance, location: {latitude: lat, longitude:lon}};\n    return msg;\n}\n\nreturn null;",
		"outputs": "1",
		"noerr": 0,
		"x": 200.00003051757812,
		"y": 45.555572509765625,
		"wires": [["8f629662.831fb8"]
		]
	}, {
		"id": "8f629662.831fb8",
		"type": "function",
		"z": "e2a8e2c0.9fe338",
		"name": "RouteTrackingAlertMsg",
		"func": "msg.topic = \"/fptdrive/tracking/route/alert/\" + context.global.RouteId + \"/\" + context.global.DeviceId;\nmsg.payload.bus_id = context.global.DeviceId;\n\nif (msg.payload.distance > context.global.RouteDistanceAlert) {\n    return [msg, msg]\n} else {\n    return [msg, null]\n}",
		"outputs": "2",
		"noerr": 0,
		"x": 419.1944274902344,
		"y": 45.00001525878906,
		"wires": [[],["5d8e031a.ad017c"]
		]
	}, {
		"id": "5d8e031a.ad017c",
		"type": "debug",
		"z": "e2a8e2c0.9fe338",
		"name": "",
		"active": true,
		"console": "false",
		"complete": "payload",
		"x": 657.77783203125,
		"y": 92.22225952148438,
		"wires": []
	}, {
		"id": "df7b94a3.a5ae38",
		"type": "subflow:e2a8e2c0.9fe338",
		"z": "1c7390ed.7e5087",
		"x": 565.5556030273438,
		"y": 31.111106872558594,
		"wires": [["f3d8b52.07edac8"]
		]
	}, {
		"id": "e8cb94c4.29743",
		"type": "function",
		"z": "5c70f8db.82bad8",
		"name": "CheckBrakingSuddently",
		"func": "var speed = msg.payload.speed;\n//console.log(\"CheckSpeedBraking msg: \" + JSON.stringify(msg.payload));\nif (speed == -1 || \n    (   context.global.busBrakingSuddently.length > 0 &&\n        speed > context.global.busBrakingSuddently[context.global.busBrakingSuddently.length-1][0]\n    ) ){\n    context.global.busBrakingSuddently = [];\n    return null;\n}\n\ncontext.global.busBrakingSuddently.push([speed, msg.timestamp]);\n\nif (context.global.busBrakingSuddently.length > 2) {\n    var a = (context.global.busBrakingSuddently[0][0] \n                - context.global.busBrakingSuddently[context.global.busBrakingSuddently.length-1][0])/\n            Math.abs(new Date(context.global.busBrakingSuddently[0][1]) \n                - new Date(context.global.busBrakingSuddently[context.global.busBrakingSuddently.length-1][1]));\n    \n    console.log(\"CheckSpeedBraking acceleration: \" + a);\n    \n    if (context.global.busBrakingSuddently.length > 60) {\n        context.global.busBrakingSuddently.splice(0,1);\n    }\n    \n    if (a < context.global.busBrakingSuddentlyAccelerationAlert) {//negative\n        msg.topic = \"/fptdrive/tracking/braking/alert/\" + context.global.RouteId + \"/\" + context.global.DeviceId;\n        msg.type = \"\";\n        msg.payload = {\n            v0: context.global.busBrakingSuddently[0][0],\n            v1: context.global.busBrakingSuddently[context.global.busBrakingSuddently.length][0],\n            a: a\n        }\n        return msg;\n    }\n}\n\n//\n\n\nreturn null;",
		"outputs": 1,
		"noerr": 0,
		"x": 210.99993896484375,
		"y": 82.11111450195312,
		"wires": [["4d4032d1.4daf44"]
		]
	}, {
		"id": "3726522b.723d36",
		"type": "function",
		"z": "5c70f8db.82bad8",
		"name": "CheckSpeedUp",
		"func": "var speed = msg.payload.speed;\nif (speed == -1 || \n    (   context.global.busSpeedUp.length > 0 &&\n        speed < context.global.busSpeedUp[context.global.busSpeedUp.length -1][0]\n    ) ){\n    context.global.busSpeedUp = [];\n    return null;\n}\n\ncontext.global.busSpeedUp.push([speed, msg.timestamp]);\n\nif (context.global.busSpeedUp.length > 2) {\n    var a = (context.global.busSpeedUp[0][0] \n    - context.global.busSpeedUp[context.global.busSpeedUp.length-1][0])/\n        Math.abs(new Date(context.global.busSpeedUp[0][1]) \n    - new Date(context.global.busSpeedUp[context.global.busSpeedUp.length-1][1]));\n    \n    console.log(\"CheckSpeedUp acceleration: \" + a);\n    \n    if (context.global.busSpeedUp.length > 60) {\n        context.global.busSpeedUp.splice(0,1);\n    }\n    \n    if (a > context.global.busSpeedUpAccelerationAlert) {//possitive\n        msg.topic = \"/fptdrive/tracking/speedup/alert/\" + context.global.RouteId + \"/\" + context.global.DeviceId;\n        msg.type = \"speedup\";\n        msg.payload = {\n            v0: context.global.busSpeedUp[0][0],\n            v1: context.global.busSpeedUp[context.global.busSpeedUp.length][0],\n            a: a\n        }\n        return msg;\n    }\n}\n\n//\n\n\nreturn null;",
		"outputs": 1,
		"noerr": 0,
		"x": 185.44436645507812,
		"y": 120.22225952148438,
		"wires": [["9213d2b8.fb7c2"]
		]
	}, {
		"id": "316a3316.306e04",
		"type": "function",
		"z": "5c70f8db.82bad8",
		"name": "StopLongTimeMessage",
		"func": "msg.payload.bus_id = context.global.DeviceId;\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 470.99993896484375,
		"y": 44.33335876464844,
		"wires": [[]
		]
	}, {
		"id": "4d4032d1.4daf44",
		"type": "function",
		"z": "5c70f8db.82bad8",
		"name": "BrakingSuddenlyMessage",
		"func": "msg.payload.bus_id = context.global.DeviceId;\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 463.77783203125,
		"y": 81.77784729003906,
		"wires": [[]
		]
	}, {
		"id": "9213d2b8.fb7c2",
		"type": "function",
		"z": "5c70f8db.82bad8",
		"name": "FastSpeedUpMessage",
		"func": "msg.payload.bus_id = context.global.DeviceId;\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 474.111083984375,
		"y": 120.55560302734375,
		"wires": [[]
		]
	}, {
		"id": "65345363.117ad4",
		"type": "http in",
		"z": "c4629c93.641538",
		"name": "",
		"url": "/aws/certs",
		"method": "get",
		"swaggerDoc": "",
		"x": 115,
		"y": 87,
		"wires": [["5b9649da.e83878"]
		]
	}, {
		"id": "5b9649da.e83878",
		"type": "exec",
		"z": "c4629c93.641538",
		"command": "ls ../awsCerts",
		"addpay": true,
		"append": "",
		"useSpawn": "",
		"name": "GetCertificates",
		"x": 303,
		"y": 86,
		"wires": [["e1efb826.b7119"],[],[]
		]
	}, {
		"id": "4ba205b3.a8f154",
		"type": "http response",
		"z": "c4629c93.641538",
		"name": "",
		"x": 723,
		"y": 73,
		"wires": []
	}, {
		"id": "e1efb826.b7119",
		"type": "function",
		"z": "c4629c93.641538",
		"name": "convertToJSON",
		"func": "//msg.payload = msg.payload.replace(/..\\/aws\\/certs\\//g,\"\").replace(/\\//g, \"\").replace(/\\r\\n/g, \"\\n\").split(\"\\n\");\n//return msg;\n\nvar files = msg.payload;\n\nfiles = files.replace(\":\",\"\");\nfiles = files.replace(\"../awsCerts\",\"\");\nfiles = files.replace(\"-certificate.pem.crt\", \"\");\nfiles = files.replace(\"-private.pem.key\",\"\");\nfiles = files.replace(\"-public.pem.key\",\"\");\nfiles = files.replace(\"root-CA.crt\",\"\");\n\nfiles = files.replace(/\\r\\n/g, \"\\n\");\nfiles = files.split(\"\\n\");\n\n\nvar uniqueKeys = files.filter(function(elem, pos) {\n    return files.indexOf(elem) == pos;\n})\n\n\nmsg.payload = uniqueKeys;\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 520,
		"y": 73,
		"wires": [["4ba205b3.a8f154"]
		]
	}, {
		"id": "7afd9f32.819108",
		"type": "subflow:c4629c93.641538",
		"z": "bbc541b8.3038e",
		"x": 140,
		"y": 35,
		"wires": []
	}, {
		"id": "77b04e36.c8bdd8",
		"type": "inject",
		"z": "bbc541b8.3038e",
		"name": "",
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"repeat": "",
		"crontab": "",
		"once": true,
		"x": 127.75,
		"y": 176,
		"wires": [["666fd4e3.34785c", "1e4b1322.9fbb3d"]
		]
	}, {
		"id": "666fd4e3.34785c",
		"type": "function",
		"z": "bbc541b8.3038e",
		"name": "GlobalVariables",
		"func": "context.global.serverUrl = \"localhost:1880\"\ncontext.global.device = {DeviceStatus : \"INITIATED\", PinCode : \"123456\"};\n\ncontext.global.SerialNumber = \"NHLE-L6MI-4GE4-ETEV\";\ncontext.global.DeviceId = \"ec87c2cc-ab87-35e1-bfd3-be0ea449fcd5\";\ncontext.global.RouteId = 13;\ncontext.global.RouteDistanceAlert = 50;\ncontext.global.busBrakingSuddently = [];\ncontext.global.busBrakingSuddentlyAccelerationAlert = -10;\ncontext.global.busSpeedUp = [];\ncontext.global.busSpeedUpAccelerationAlert = 10;\n\ncontext.global.busInfo = {\n    DeviceProperties: {\n            DeviceID: context.global.DeviceId,\n            HubEnabledState: true,\n            CreatedTime: \"2016-07-02T01:12:51.4267459Z\",\n            UpdatedTime: \"2016-07-02T01:45:30.658936Z\",\n            Manufacturer: \"FPT Software Ltd.,\",\n            ModelNumber: \"MD-365\",\n            SerialNumber: \"NHLE-L6MI-4GE4-ETEV\",\n            FirmwareVersion: \"1.86\",\n            Platform: \"Plat-64\",\n            Processor: \"i3-595\",\n            InstalledRAM: \"2GB\"\n        }\n}\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 296.0000305175781,
		"y": 157.25,
		"wires": [[]
		]
	}, {
		"id": "1e4b1322.9fbb3d",
		"type": "function",
		"z": "bbc541b8.3038e",
		"name": "RoutesInfo",
		"func": "var fptdrive = context.global.fptdrive;\n\ncontext.global.routes_encoded = [\n    \"grm_CagvdS@~KEbGDtF?bEdBElMBjJMjAItC?pA?hC@vB@pAFdFt@fBTb@TRXIzDGdFQ|GIxECzEA`BX?lE@hC?lB?SgAOc@m@cB\",\n    \"}ik_Ck`tdSeA}BeDsGQOUImAEJ{FVsHNkBZkB|@}DjAsFl@aC]M_C}@wFaBKa@SQSEQKQYi@}@c@g@_DeDQ[E[Ek@?m@A{DyBDgDDUDwMEcH@G@ILODYFwG?m@@?r@@vC?dC\"\n];\n\ncontext.global.routes = [];\ncontext.global.routes.push(fptdrive.polyline_decode(context.global.routes_encoded[0]));\ncontext.global.routes.push(fptdrive.polyline_decode(context.global.routes_encoded[1]));\n\n\nmsg.payload = context.global.routes;\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 282.2500305175781,
		"y": 195.5,
		"wires": [["2c2b3d87.a91b82"]
		]
	}, {
		"id": "2c2b3d87.a91b82",
		"type": "debug",
		"z": "bbc541b8.3038e",
		"name": "",
		"active": false,
		"console": "false",
		"complete": "false",
		"x": 518.5000610351562,
		"y": 194.25001525878906,
		"wires": []
	}, {
		"id": "beabdc9f.7c1c5",
		"type": "subflow:58e7860b.dcb2a8",
		"z": "bbc541b8.3038e",
		"x": 112,
		"y": 82,
		"wires": []
	}, {
		"id": "18c173.9bae868d",
		"type": "inject",
		"z": "58e7860b.dcb2a8",
		"name": "",
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 105,
		"y": 42,
		"wires": [["99faee2e.602198"]
		]
	}, {
		"id": "99faee2e.602198",
		"type": "debug",
		"z": "58e7860b.dcb2a8",
		"name": "",
		"active": true,
		"console": "false",
		"complete": "false",
		"x": 360,
		"y": 43,
		"wires": []
	}, {
		"id": "8d5a53d5.513f48",
		"type": "http response",
		"z": "d3f9a6d2.2e5df8",
		"name": "",
		"x": 1111.5714721679688,
		"y": 255.99996948242188,
		"wires": []
	}, {
		"id": "971bc186.6600c8",
		"type": "http in",
		"z": "d3f9a6d2.2e5df8",
		"name": "",
		"url": "/devices/ec87c2cc-ab87-35e1-bfd3-be0ea449fcd5/*",
		"method": "get",
		"swaggerDoc": "",
		"x": 221.42868041992188,
		"y": 52.85712432861328,
		"wires": [["c9b55b2.46c0b28"]
		]
	}, {
		"id": "c9b55b2.46c0b28",
		"type": "function",
		"z": "d3f9a6d2.2e5df8",
		"name": "Extract URI",
		"func": "if (msg.req.params.length === 0) return null;\n\nvar params = msg.req.params[0].toString().split(\"/\");\n\nif (params.length === 0) return null;\n\nmsg.method = params[0];\nmsg.param = params[1];\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 132.14291381835938,
		"y": 215.00003051757812,
		"wires": [["d6c6b352.2958e"]
		]
	}, {
		"id": "d6c6b352.2958e",
		"type": "switch",
		"z": "d3f9a6d2.2e5df8",
		"name": "API Controller",
		"property": "method",
		"propertyType": "msg",
		"rules": [
			{
				"t": "eq",
				"v": "init",
				"vt": "str"
			}, {
				"t": "eq",
				"v": "status",
				"vt": "str"
			}
		],
		"checkall": "true",
		"outputs": 2,
		"x": 323.57147216796875,
		"y": 215.19033813476562,
		"wires": [["8d478729.d5dd1"],["1c373b55.e2d9b5"]
		]
	}, {
		"id": "8d478729.d5dd1",
		"type": "switch",
		"z": "d3f9a6d2.2e5df8",
		"name": "Init Method",
		"property": "param",
		"propertyType": "msg",
		"rules": [
			{
				"t": "else"
			}
		],
		"checkall": "true",
		"outputs": 1,
		"x": 550.9524536132812,
		"y": 121.19048309326172,
		"wires": [["202287f4.5be21"]
		]
	}, {
		"id": "1c373b55.e2d9b5",
		"type": "switch",
		"z": "d3f9a6d2.2e5df8",
		"name": "Status Method",
		"property": "payload",
		"propertyType": "msg",
		"rules": [
			{
				"t": "eq",
				"v": "initiated",
				"vt": "str"
			}, {
				"t": "eq",
				"v": "registered",
				"vt": "str"
			}, {
				"t": "eq",
				"v": "key",
				"vt": "str"
			}, {
				"t": "eq",
				"v": "installed",
				"vt": "str"
			}, {
				"t": "eq",
				"v": "readytouse",
				"vt": "str"
			}, {
				"t": "eq",
				"v": "locked",
				"vt": "str"
			}, {
				"t": "else"
			}
		],
		"checkall": "true",
		"outputs": 7,
		"x": 561.8095703125,
		"y": 311.9999694824219,
		"wires": [["202287f4.5be21"],["6a5aebba.ad9c24"],["7ce11ce0.6cdbc4"],["3e8f2691.43763a"],["d7d5c8e7.2b851"],["60f95672.461d78"],["3a045660.f10ec2"]
		]
	}, {
		"id": "202287f4.5be21",
		"type": "function",
		"z": "d3f9a6d2.2e5df8",
		"name": "INITIATED",
		"func": "msg.error = null;\nmsg.payload = {\n    status : \"INITIATED\",\n    pinCode : \"131313\"\n};\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 800.476318359375,
		"y": 200.33334350585938,
		"wires": [["8d5a53d5.513f48"]
		]
	}, {
		"id": "6a5aebba.ad9c24",
		"type": "function",
		"z": "d3f9a6d2.2e5df8",
		"name": "REGISTERED",
		"func": "msg.error = null;\nmsg.payload = {\n    status : \"REGISTERED\"\n};\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 818.7619018554688,
		"y": 237.6190185546875,
		"wires": [["8d5a53d5.513f48"]
		]
	}, {
		"id": "7ce11ce0.6cdbc4",
		"type": "function",
		"z": "d3f9a6d2.2e5df8",
		"name": "SendDeviceCert",
		"func": "msg.payload = {\n    \"DeviceId\": \"ec87c2cc-ab87-35e1-bfd3-be0ea449fcd5\",\n    \"AWSCertId\" : \"9e09675250\"\n};\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 820.3333129882812,
		"y": 274.4761962890625,
		"wires": [["8d5a53d5.513f48"]
		]
	}, {
		"id": "3e8f2691.43763a",
		"type": "function",
		"z": "d3f9a6d2.2e5df8",
		"name": "INSTALLED",
		"func": "msg.error = null;\nmsg.payload = {\n    status : \"INSTALLED\"\n};\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 810.9049072265625,
		"y": 312.1905212402344,
		"wires": [["8d5a53d5.513f48"]
		]
	}, {
		"id": "d7d5c8e7.2b851",
		"type": "function",
		"z": "d3f9a6d2.2e5df8",
		"name": "IN-USED",
		"func": "msg.error = null;\nmsg.payload = {\n    status : \"IN-USED\"\n};\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 801.619140625,
		"y": 349.90478515625,
		"wires": [["8d5a53d5.513f48"]
		]
	}, {
		"id": "60f95672.461d78",
		"type": "function",
		"z": "d3f9a6d2.2e5df8",
		"name": "LOCKED",
		"func": "msg.error = null;\nmsg.payload = {\n    status : \"LOCKED\"\n};\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 800.6192016601562,
		"y": 386.3333740234375,
		"wires": [["8d5a53d5.513f48"]
		]
	}, {
		"id": "3a045660.f10ec2",
		"type": "function",
		"z": "d3f9a6d2.2e5df8",
		"name": "INVALID",
		"func": "msg.error = \"INVALID\";\nmsg.payload = {\n    status : \"INVALID\"\n};\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 801.4998779296875,
		"y": 421.9999694824219,
		"wires": [["8d5a53d5.513f48"]
		]
	}
]