flows/fptdrive.json
[
	{
		"id": "1524d575.3e58c3",
		"type": "websocket-client",
		"z": "1c7390ed.7e5087",
		"path": "ws://localhost:8001/",
		"wholemsg": "false"
	}, {
		"id": "bb5841a4.f0f5a",
		"type": "aws-iot-device",
		"z": "1c7390ed.7e5087",
		"name": "Bus001",
		"mode": "broker",
		"clientId": "Device001",
		"certId": "9e09675250",
		"region": "us-east-1"
	}, {
		"id": "87245211.e552",
		"type": "aws-mqtt in",
		"z": "1c7390ed.7e5087",
		"device": "bb5841a4.f0f5a",
		"topic": "/fptdrive/#",
		"x": 85.44442749023438,
		"y": 455.77779388427734,
		"wires": [["c68b139b.5a2af"]
		]
	}, {
		"id": "f3d8b52.07edac8",
		"type": "aws-mqtt out",
		"z": "1c7390ed.7e5087",
		"device": "bb5841a4.f0f5a",
		"qos": "0",
		"x": 678.4444274902344,
		"y": 281.77779388427734,
		"wires": []
	}, {
		"id": "600c3efe.2e4538",
		"type": "function",
		"z": "1c7390ed.7e5087",
		"name": "CarDistanceMessage",
		"func": "var distance = -1;\n//var json = JSON.parse(msg.payload);\nvar distance = msg.payload.distance;\n\nvar payload = {\n    device_id: context.global.deviceId,\n    timestamp:new Date(),\n    distance_to_next:distance\n};\n\nvar disMsg = {\n    topic: \"/fptdrive/cardistance\"\n};\ndisMsg.payload = payload;\n\nmsg = disMsg;\nreturn msg;",
		"outputs": "1",
		"noerr": 0,
		"x": 381.4444274902344,
		"y": 211.77779388427734,
		"wires": [["f3d8b52.07edac8", "bf7fd70d.7aa978"]
		]
	}, {
		"id": "a9738f14.eb5968",
		"type": "debug",
		"z": "1c7390ed.7e5087",
		"name": "",
		"active": true,
		"console": "false",
		"complete": "false",
		"x": 688.4444274902344,
		"y": 457.77779388427734,
		"wires": []
	}, {
		"id": "c68b139b.5a2af",
		"type": "function",
		"z": "1c7390ed.7e5087",
		"name": "ProcessingMessage",
		"func": "var buffer = msg.payload;\njson = buffer.toString('utf8', 0, buffer.length - 1);\n\nif (json.lastIndexOf('}') != json.length - 1) {\n    json = json.substring(0, json.lastIndexOf('}') + 1);\n}\n\nmsg.payload = json;\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 338.4444274902344,
		"y": 456.77779388427734,
		"wires": [["a9738f14.eb5968"]
		]
	}, {
		"id": "a283a223.32ed88",
		"type": "catch",
		"z": "1c7390ed.7e5087",
		"name": "",
		"scope": null,
		"x": 92.44442749023438,
		"y": 31.777793884277344,
		"wires": [[]
		]
	}, {
		"id": "ca6426af.e9c8c",
		"type": "function",
		"z": "1c7390ed.7e5087",
		"name": "EyeBlinkMessage",
		"func": "var payload = {\n    device_id: context.global.deviceId,\n    timestamp: new Date(),\n    eye_blink: 1,\n    yawn:0,\n    drowsiness:0\n};\n\nvar blinkMsg = {\n  topic: \"/fptdrive/face\"  \n};\n\nblinkMsg.payload = payload;\n\nreturn blinkMsg;",
		"outputs": 1,
		"noerr": 0,
		"x": 379.4444274902344,
		"y": 356.77779388427734,
		"wires": [["bf7fd70d.7aa978", "f3d8b52.07edac8"]
		]
	}, {
		"id": "89e7099d.28b6",
		"type": "websocket in",
		"z": "1c7390ed.7e5087",
		"name": "GPS",
		"server": "",
		"client": "1524d575.3e58c3",
		"x": 79.44442749023438,
		"y": 118.77779388427734,
		"wires": [["68372ac6.3e2774"]
		]
	}, {
		"id": "68372ac6.3e2774",
		"type": "function",
		"z": "1c7390ed.7e5087",
		"name": "GPSMessage",
		"func": "var json = JSON.parse(msg.payload);\n\nvar lat = json.lat || -1;\nvar lon = json.lon || -1;\n\nmsg.topic = \"/fptdrive/gps\";\nvar payload = {\n        device_id: context.global.deviceId,\n        timestamp:new Date(),\n        latitude: lat,\n        longitude: lon\n    };\n    \n\nmsg.payload = payload;\nvar now = new Date().getTime();\n\nif (undefined == context.global.gps_last_time) {\n    context.global.gps_last_time = now - 100000;\n}\n\nif (now - context.global.gps_last_time > 1000) {\n    context.global.gps_last_time = now;\n    return [msg, msg];\n} else {\n    //show debug only\n    return [null, msg];\n}\n",
		"outputs": "2",
		"noerr": 0,
		"x": 363.4444274902344,
		"y": 118.77779388427734,
		"wires": [["bf7fd70d.7aa978", "f3d8b52.07edac8"],[]
		]
	}, {
		"id": "bf7fd70d.7aa978",
		"type": "debug",
		"z": "1c7390ed.7e5087",
		"name": "",
		"active": true,
		"console": "false",
		"complete": "true",
		"x": 668.4444274902344,
		"y": 166.77779388427734,
		"wires": []
	}, {
		"id": "f4e87faa.95f17",
		"type": "http in",
		"z": "1c7390ed.7e5087",
		"name": "/api/eyesblinked/",
		"url": "/api/eyesblinked/",
		"method": "get",
		"swaggerDoc": "",
		"x": 114.94442749023438,
		"y": 362.77779388427734,
		"wires": [["ca6426af.e9c8c", "6e6824d3.be2634"]
		]
	}, {
		"id": "c1a07d9a.eb671",
		"type": "http in",
		"z": "1c7390ed.7e5087",
		"name": "/api/cardistance/",
		"url": "/api/cardistance/",
		"method": "get",
		"swaggerDoc": "",
		"x": 110.94442749023438,
		"y": 213.77779388427734,
		"wires": [["600c3efe.2e4538", "6e6824d3.be2634"]
		]
	}, {
		"id": "6e6824d3.be2634",
		"type": "http response",
		"z": "1c7390ed.7e5087",
		"name": "httpoutput",
		"x": 355.9444274902344,
		"y": 284.27779388427734,
		"wires": []
	}
]