flows/fptdrive-simulator.json
[
	{
		"id": "4bc32b4b.6a73c4",
		"type": "websocket-listener",
		"z": "afca5e85.e098d",
		"path": "/ws/simgps",
		"wholemsg": "false"
	}, {
		"id": "4407678b.82123",
		"type": "function",
		"z": "afca5e85.e098d",
		"name": "CarDistanceMessage",
		"func": "var distance = Math.random()*60;\n\nmsg.distance = distance;\nreturn msg;",
		"outputs": "1",
		"noerr": 0,
		"x": 298.7500305175781,
		"y": 139.5,
		"wires": [["48e73c78.7c2674"]
		]
	}, {
		"id": "59ab1c5e.295afc",
		"type": "catch",
		"z": "afca5e85.e098d",
		"name": "",
		"scope": null,
		"x": 78.25006103515625,
		"y": 64.5,
		"wires": [[]
		]
	}, {
		"id": "188416a4.e6d421",
		"type": "function",
		"z": "afca5e85.e098d",
		"name": "EyeBlinkMessage",
		"func": "\nmsg.blinked = 1;\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 288.0000305175781,
		"y": 175.25,
		"wires": [["27cdb0e8.4fea78"]
		]
	}, {
		"id": "91acc7b7.e1f1b",
		"type": "function",
		"z": "afca5e85.e098d",
		"name": "GPSMessage",
		"func": "var polyline = [ [ 21.02849, 105.80414 ],\n  [ 21.02819, 105.8048 ],\n  [ 21.02817, 105.80498 ],\n  [ 21.02818, 105.80506 ],\n  [ 21.02833, 105.80526 ],\n  [ 21.02856, 105.8054 ],\n  [ 21.02874, 105.80557 ],\n  [ 21.02882, 105.80569 ],\n  [ 21.02887, 105.80582 ],\n  [ 21.02911, 105.80647 ],\n  [ 21.02919, 105.80675 ],\n  [ 21.02936, 105.80807 ],\n  [ 21.02956, 105.80935 ],\n  [ 21.02974, 105.81033 ],\n  [ 21.02999, 105.8116 ],\n  [ 21.03013, 105.81236 ],\n  [ 21.03022, 105.813 ],\n  [ 21.03133, 105.81335 ],\n  [ 21.03176, 105.8135 ],\n  [ 21.03283, 105.81383 ],\n  [ 21.03308, 105.81386 ],\n  [ 21.0332, 105.81385 ],\n  [ 21.03387, 105.8141 ],\n  [ 21.03476, 105.81443 ],\n  [ 21.03525, 105.81456 ],\n  [ 21.03567, 105.81472 ],\n  [ 21.03675, 105.81501 ],\n  [ 21.0371, 105.81513 ],\n  [ 21.0377, 105.81528 ],\n  [ 21.03927, 105.81578 ],\n  [ 21.04107, 105.81633 ],\n  [ 21.04194, 105.8166 ],\n  [ 21.04203, 105.81673 ],\n  [ 21.04212, 105.81697 ],\n  [ 21.0421, 105.81842 ],\n  [ 21.04215, 105.8185 ],\n  [ 21.04217, 105.81851 ],\n  [ 21.04217, 105.81871 ],\n  [ 21.04327, 105.81859 ],\n  [ 21.04351, 105.81855 ],\n  [ 21.04356, 105.81876 ],\n  [ 21.04363, 105.81929 ],\n  [ 21.04363, 105.81956 ],\n  [ 21.04358, 105.82029 ],\n  [ 21.04337, 105.82163 ],\n  [ 21.0433, 105.82196 ] ];\n\nif (typeof context.global.gps_polyline_index === 'undefined' || context.global.gps_polyline_index === NaN) {\n    context.global.gps_polyline_index = -1;\n}\n\ncontext.global.gps_polyline_index += 1;\ncontext.global.gps_polyline_index = context.global.gps_polyline_index % polyline.length;\n\nvar lat = polyline[context.global.gps_polyline_index][0];\nvar lon = polyline[context.global.gps_polyline_index][1];\n\nmsg.topic = \"/fptdrive/gps/\" + context.global.RouteId + \"/\" + context.global.DeviceId;\nvar payload = {\n        bus_id: context.global.DeviceId,\n        device_id: context.global.DeviceId,\n        timestamp:new Date(),\n        lat: lat,\n        lon: lon,\n        atl: -1,\n        speed: -1\n    };\n    \nif (typeof context.global.gps_polyline === 'undefined') {\n    context.global.gps_polyline = [];\n}\n\ncontext.global.gps_polyline.push(payload);\n\nmsg.payload = payload;\n\nreturn msg;\n\n",
		"outputs": "1",
		"noerr": 0,
		"x": 274.5000305175781,
		"y": 103.25,
		"wires": [["6066b3e7.f0eafc", "6f16e4f.0be931c"]
		]
	}, {
		"id": "6f16e4f.0be931c",
		"type": "debug",
		"z": "afca5e85.e098d",
		"name": "",
		"active": false,
		"console": "false",
		"complete": "true",
		"x": 747.3056640625,
		"y": 99.12293243408203,
		"wires": []
	}, {
		"id": "92d168ab.34c8c8",
		"type": "inject",
		"z": "afca5e85.e098d",
		"name": "CarDistance",
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 115.80557250976562,
		"y": 139.47219848632812,
		"wires": [["4407678b.82123"]
		]
	}, {
		"id": "d347b2bb.82b03",
		"type": "inject",
		"z": "afca5e85.e098d",
		"name": "GPS",
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 103.55557250976562,
		"y": 103.22219848632812,
		"wires": [["91acc7b7.e1f1b"]
		]
	}, {
		"id": "b5c734a4.4569e",
		"type": "inject",
		"z": "afca5e85.e098d",
		"name": "EyesBlink",
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 108.05557250976562,
		"y": 175.22219848632812,
		"wires": [["188416a4.e6d421"]
		]
	}, {
		"id": "6066b3e7.f0eafc",
		"type": "websocket out",
		"z": "afca5e85.e098d",
		"name": "ws_gps",
		"server": "4bc32b4b.6a73c4",
		"client": "",
		"x": 520,
		"y": 55.39680480957031,
		"wires": []
	}, {
		"id": "27cdb0e8.4fea78",
		"type": "http request",
		"z": "afca5e85.e098d",
		"name": "/api/eyesblinked/",
		"method": "GET",
		"ret": "txt",
		"url": "http://localhost:1880/api/eyesblinked/",
		"certId": "",
		"rejectUnauthorized": false,
		"tlsClientAuthentication": false,
		"x": 548.5714721679688,
		"y": 174.28570556640625,
		"wires": [["6f16e4f.0be931c"]
		]
	}, {
		"id": "48e73c78.7c2674",
		"type": "http request",
		"z": "afca5e85.e098d",
		"name": "/api/cardistance/",
		"method": "GET",
		"ret": "txt",
		"url": "http://localhost:1880/api/cardistance/",
		"certId": "",
		"rejectUnauthorized": false,
		"tlsClientAuthentication": false,
		"x": 547.1428833007812,
		"y": 140.00001525878906,
		"wires": [["6f16e4f.0be931c"]
		]
	}
]